* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.nature{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/water.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-family: 'Poppins', sans-serif;
	background-color: grey;
	opacity: 0.6;
	border-radius: 35px;
}

.logo {
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.nav-links li{
	list-style: none;
}

.nav-links a{
	text-decoration: none;
	color: rgb(226, 226, 226);
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.nav-links a:hover{
	color: black;
}

#active {
	color: black;
}

.burger{
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
}


@media screen and (max-width: 1024px){
	.nav-links{
		width: 60%;
	}
}

@media screen and (max-width: 786px){
	body{
		overflow-x: hidden;
	}
	nav{
		border-radius: 0;
	}
	.logo {
		color: white;
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: grey;
		opacity: 0.6;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li{
		opacity: 0;
	}


	.burger{
		display: block;
	}

}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
		} 
	to{
		opacity: 1;
		transform: translateX(0px);
		}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px, -6px);
}
